<% flash.each do |message_type, message| %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>

<div class="saudade-container">
  <div class="demo-header header">
    <span class="title">Saudade</span><span class="phonetics">(souˈdädə):</span>
  </div>

  <%= link_to "Login", login_path, class: "login-saudade josefin demo" %>

  <div class="demo-viewer">
    <%= render "shared/memory_application", hideNavBar: true, style: "width: 83.6%; height: 460px;" %>
  </div>

  <div class="josefin description demo-description">
    Saudade is the recollection of feelings, experiences, places, or events that once brought excitement,<br>
    pleasure, well-being, which now triggers the senses and makes one live again. It can be described as an emptiness,<br>
    like someone or something that should be there in a particular moment is missing,<br>
    and the individual feels this absence.
  </div>
</div>
<%= link_to "Create your own", signup_path, class: "create-saudade josefin demo" %>
