<div id="photosphere"></div>

<script>
  var inKitchen = false;

  var goToKitchen = {
    id: 'polygon',
    polygon_px: [4042,289,4402,236,4507,1338,4069,1343],
    svgStyle: {
      fill: 'url(#points)', //'rgba(255,0,0,0.3)',
      stroke: 'rgba(255, 0, 50, 0.8)',
      'stroke-width': '2px'
    },
    tooltip: {
      content: 'Go to the kitchen!',
      position: 'right bottom'
    }
  };

  var goToLivingroom = {
    id: 'polygon',
    polygon_px: [8950,302,555,280,658,848,255,996,313,1596,9014,1666,8958,302],
    svgStyle: {
      fill: 'url(#points)', //'rgba(255,0,0,0.3)',
      stroke: 'rgba(255, 0, 50, 0.8)',
      'stroke-width': '2px'
    },
    tooltip: {
      content: 'Go to the livingroom!',
      position: 'right bottom'
    }
  };

  var joesFace = {
    id: 'joesface',
    image: '<%= image_url("pin2.png") %>',
    tooltip: {
      content: 'Look at joes face',
      position: 'right bottom'
    },
    content: '<%= image_tag('joesface', style: "width: 100%") %>',
    x: 2068,
    y: 1225,
    width: 32,
    height: 32,
  };

  var fridge = {
    id: 'fridge',
    image: '<%= image_url("pin2.png") %>',
    tooltip: {
      content: 'cool fridge photos',
      position: 'right bottom'
    },
    content: '<%= image_tag('fridge', style: "width: 100%") %>',
    x: 8546,
    y: 745,
    width: 32,
    height: 32
  };

  var PSV = new PhotoSphereViewer({
    panorama: "<%= image_url('livingroom.jpg') %>",
    container: 'photosphere',
    loading_img: "<%= image_url('photosphere-logo.gif') %>",
    navbar: [],
    sphere_segments: 32,
//      'autorotate', 'zoom', 'download', 'markers',
//      'spacer-1',
//      {
//        title: 'Change image',
//        className: 'custom-button',
//        content: '↻',
//        onClick: (function() {
//          var i = false;
//
//          return function() {
//            i = !i;
//            PSV.clearMarkers();
//
//            PSV.setPanorama(i ? 'Bryce-Canyon-By-Jess-Beauchemin.jpg' : 'Bryce-Canyon-National-Park-Mark-Doliner.jpg', {
//              longitude: i ? 3.7153696451829257 : 3.8484510006474992,
//              latitude: i ? 0.57417649320975916 : -0.24434609527920628
//            }, true)
//              .then(function() {
//                PSV.setCaption(i ? 'Bryce Canyon National Park <b>&copy; Jess Beauchemin</b>' : 'Bryce Canyon National Park <b>&copy; Mark Doliner</b>');
//              });
//          }
//        }())
//      },
//      {
//        id: 'disabled',
//        title: 'This button is disabled',
//        content: '❌',
//        enabled: false
//      },
//      'caption',
//      'gyroscope',
//      'fullscreen'
//    ],
    caption: 'Bryce Canyon National Park <b>&copy; Mark Doliner</b>',
    anim_speed: '-2rpm',
    default_fov: 20,
    fisheye: true,
    move_speed: 1.1,
    time_anim: false,
    gyroscope: false,
    webgl: true,
    size: {
      height: 600
    },
    transition: {
      duration: 3000,
      loader: false,
      blur: true
    },
    markers: (function(){
      var a = [];
//      for (var i=0; i<Math.PI*2; i+=Math.PI/4) {
//        for (var j=-Math.PI/2+Math.PI/4; j<Math.PI/2; j+=Math.PI/4) {
//          a.push({
//            id: '#' + a.length,
//            tooltip: '#' + a.length,
//            latitude: j,
//            longitude: i,
//            image: "<%= image_url('pin.png') %>",
//            width: 32,
//            height: 32,
//            anchor: 'bottom center',
//            data: {
//              deletable: true
//            }
//          });
//        }
//      }

//      a.push({
//        id: 'the-path',
//        name: 'The path',
//        content: '<img src="<%= image_url('pin2.png') %>" style="width:100%"/><img src="<%= image_url('pin.png') %>" style="width:100%"/>',
//        x: 3900,
//        y: 1650,
//        image: "<%= image_url('pin2.png') %>",
//        width: 32,
//        height: 32,
//        anchor: 'bottom center'
//      });
//
//      a.push({
//        id: 'lorem',
//        tooltip: {
//          content: 'Lorem ipsum dolor ist amet et consecturo.',
//          position: 'bottom right'
//        },
//        content: document.getElementById('pin-content').innerHTML,
//        latitude: 0,
//        longitude: 0.20,
//        image: "<%= image_url('pin2.png') %>",
//        width: 32,
//        height: 32,
//        anchor: 'bottom center'
//      });
//
//      a.push({
//        id: 'text',
//        html: 'This <b>is</b> text <img src="<%= image_url('pin3.png') %>" style="height: 24px; vertical-align: top;"/>',
//        anchor: 'bottom right',
//        style: {
//          color: 'white',
//          fontSize: '20px',
//          fontFamily: 'Helvetica, sans-serif',
//          textAlign: 'center'
//        },
//        latitude: -0.2,
//        longitude: 0.5
//      });

      a.push(goToKitchen);

//      a.push({
//        id: 'polygon-sky',
//        svgStyle: {
//          fill: 'rgba(0, 190, 255, 0.1)'
//        },
//        polygon_rad: (function() {
//          var points = [];
//
//          for (var i = 0; i < Math.PI*2; i+= Math.PI/8) {
//            points.push(i);
//            points.push(Math.PI/8);
//          }
//
//          return points;
//        }())
//      });
//
//      a.push({
//        id: 'circle',
//        tooltip: 'A circle of radius 30',
//        circle: 30,
//        svgStyle: {
//          fill: 'rgba(255,255,0,0.3)',
//          stroke: 'yellow',
//          'stroke-width': '2px'
//        },
//        longitude: 0,
//        latitude: -0.1,
//        anchor: 'center right'
//      });
//
//      a.push({
//        id: 'ellipse',
//        tooltip: 'An ellipse of radius 60/30',
//        ellipse: [60, 30],
//        svgStyle: {
//          fill: 'rgba(255,255,0,0.3)',
//          stroke: 'yellow',
//          'stroke-width': '2px'
//        },
//        longitude: 0,
//        latitude: -0.1,
//        anchor: 'center left'
//      });
//
//      a.push({
//        id: 'rect',
//        tooltip: 'A square a side 60',
//        rect: [60, 60],
//        svgStyle: {
//          fill: 'rgba(255,255,0,0.3)',
//          stroke: 'yellow',
//          'stroke-width': '2px'
//        },
//        longitude: 0,
//        latitude: -0.2,
//        anchor: 'center right'
//      });
//
//      a.push({
//        id: 'path',
//        tooltip: 'A custom path',
//        path: 'M 0 0 L 60 60 L 60 0 L 0 60 L 0 0',
//        svgStyle: {
//          fill: 'rgba(255,255,0,0.3)',
//          stroke: 'yellow',
//          'stroke-width': '2px'
//        },
//        longitude: 0,
//        latitude: -0.2,
//        anchor: 'center left'
//      });

      return a;
    }())
  });

  PSV.on('click', function(e) {
   console.log(e.texture_x + " " + e.texture_y);
  });

  PSV.on('select-marker', function(marker) {
    if (marker.isPolygon()) {
      inKitchen = !inKitchen;
      PSV.clearMarkers();
      if(inKitchen) {
        PSV.setPanorama("<%= image_url('kitchen.jpg') %>", {
          longitude: Math.PI,
          latitude: 0,
        }, true).then(function(){
          PSV.addMarker(goToLivingroom);
          PSV.addMarker(joesFace);
          PSV.addMarker(fridge);
        });
      } else {
        PSV.setPanorama("<%= image_url('livingroom.jpg') %>", {
          longitude: Math.PI,
          latitude: 0,
        }, true).then(function(){
          PSV.addMarker(goToKitchen);
        });
      }
    }
//    if (marker.data && marker.data.deletable) {
//      PSV.removeMarker(marker);
//    }
//    else if (marker.id === 'gif') {
//      var width = (Math.random()*0.4 + 0.8) * marker.width;
//      PSV.updateMarker({
//        id: marker.id,
//        width: width,
//        height: width
//      });
//    }
  });

  PSV.on('ready', function() {
    $('.psv-navbar').hide();
  });
</script>

<svg id="patterns">
  <defs>
    <pattern id="dots" x="10" y="10" width="30" height="30" patternUnits="userSpaceOnUse">
      <circle cx="10" cy="10" r="10" style="stroke: none; fill: rgba(255,0,0,0.4)" />
    </pattern>
    <pattern id="points" x="10" y="10" width="15" height="15" patternUnits="userSpaceOnUse">
      <circle cx="10" cy="10" r="0.8" style="stroke: none; fill: red" />
    </pattern>
  </defs>
</svg>
