<div class="container smaller-container">

  <div class="header user-header">
    <span class="title">Contact Us</span>
  </div>

  <%= simple_form_for @contact, :url => contacts_path do |f| %>
    <%= f.input :name, :label => t('.name') if ContactUs.require_name %>
    <% if current_user %>
      <%= f.input :email, label: t('.email'), input_html: { value: current_user.email } %>
    <% else %>
      <%= f.input :email, :label => t('.email') %>
    <% end %>
    <%= f.input :subject, :label => t('.subject') if ContactUs.require_subject %>
    <%= f.input :message, :as => :text, :label => t('.message') %>
    <%= f.button :submit,
      "data-disable-with" => "Submit",
      :class => 'btn btn-primary',
      :value => t('.submit'),
      :alt => t('.submit'),
      :id => 'contact_us_contact_submit',
      :title => t('.submit') %>
  <% end %>
  <br>
  <div class="description">
    I sincerely hope that this app helps you in preserving your most cherished memories.
    Please let me know if you have any feedback!
  </div>
</div>
