<div class="container">

  <div class="header user-header">
    <span class="title">Contact Us</span>
  </div>

  <%= simple_form_for @contact, :url => contacts_path do |f| %>
    <%= f.input :name, :label => t('.name') if ContactUs.require_name %>
    <%= f.input :email, :label => t('.email') %>
    <%= f.input :subject, :label => t('.subject') if ContactUs.require_subject %>
    <%= f.input :message, :as => :text, :label => t('.message') %>
    <%= f.button :submit,
      "data-disable-with" => "Submit",
      :class => 'btn btn-primary',
      :value => t('.submit'),
      :alt => t('.submit'),
      :id => 'contact_us_contact_submit',
      :title => t('.submit') %>
  <% end %>
</div>
