<div class="container">
  <div class="header link-header">
    <span class="title"><%= @memory.name %></span>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2 class="link-sphere-header">Spheres</h2>
      <div class="sphere-container">
        <%= render @memory.spheres %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="link-viewer col-md-6">
      <%= render "shared/memory_application", hideNavBar: true, style: "width: 100%; height: 100%", editMode: true %>
    </div>
    <div class="col-md-3">
      <h3>Finishing Touches</h3>
      <ul class="finishing-touches">
        <li>
          <div class="tipsy-header">
            <h2>Add a portal <a class="tipsy-link">(?)</a></h2>
          </div>

          <%= select_tag 'to_sphere_id', nil, hidden: true %>
          <%= text_field_tag 'portal_caption', nil, placeholder: 'Portal caption', hidden: true %>
          <button id="start-portal" class="btn btn-primary">Start</button>
          <button id="save-portal" class="btn btn-primary" disabled>Save</button>
          <button id="reset-portal" class="btn btn-primary" disabled>Reset</button>
        </li>

        <li>

          <h2>Delete a portal</h2>
          <p class="delete-explanation" hidden>Click a portal to delete it</p>
          <button id="delete-portal" class="btn btn-primary">Delete</button>
          <button id="cancel-delete" class="btn btn-primary" disabled>Cancel</button>
        </li>
      </ul>
    </div>
  </div>
  <%= link_to "Memories...", memories_path, class: 'profile-saudade josefin memories-link' %>
</div>

