<div class="left-pad-row">
  <div class="demo user-login">
    <%= link_to "Back to memories", memories_path, class: 'josefin' %>
  </div>

  <div class="right-pad-row">
    <div class="header link-header">
      <div class="title-widget">
        <div id="title" class="title"><%= @memory.name %></div>
        <textarea id="title-input" class="title"></textarea>
      </div>

      <div class="description-widget">
        <div id="description"><%= @memory.description %></div>
        <textarea id="description-input"></textarea>
      </div>

      <div class="privacy-widget">
        <div class="private">
          <i class="fa fa-lock" aria-hidden="true"></i>
          Private
        </div>

        <div class="public">
          <i class="fa fa-globe" aria-hidden="true"></i>
          Public
        </div>
      </div>
    </div>

    <div class="sphere-select-view">
      <h3 class="link-sphere-header">Spheres</h3>
      <%= render 'add_sphere_view' %>
    </div>
  </div>


  <div class="edit-row">
    <div class="link-viewer">
      <%= render "shared/edit_memory_application", hideNavBar: true, style: "width: 100%; height: 100%", editMode: true %>
    </div>
    <div class="edit-widgets right-pad-row">
      <%= render 'portal_view' %>
      <%= render 'marker_view' %>
      <%= render 'zoom_view' %>
    </div>
  </div>
</div>
