<%= link_to "Login", login_path, class: "user-login josefin demo" if !logged_in? %>

<div class="container">
  <div class="header user-header">
    <span class="title"><%= @memory.name %></span>
  </div>

  <div class="row">
    <div class="link-viewer col-md-8">
      <%= render "shared/memory_application", hideNavBar: true, style: "width: 100%; height: 600px;", editMode: true %>
    </div>
    <div class="col-md-3">
      <h3>Finishing Touches</h3>
      <ul class="finishing-touches">
        <li>
          <h2>Spheres</h2>
          <div class="sphere-container">
            <%= render @memory.spheres %>
          </div>
        </li>
        <li>
          <h2>Add a portal</h2>
          <p>Click the start button then click the corners of a door. Then, select the photosphere to transition to.</p>
          <%= select_tag 'to_sphere_id' %>
          <button id="start-portal" class="btn btn-primary">Start</button>
          <button id="save-portal" class="btn btn-primary" disabled>Save</button>
          <button id="reset-portal" class="btn btn-primary" disabled>Reset</button>
        </li>
      </ul>
    </div>
  </div>



  <div class="josefin description">
    <%= @memory.description %>
  </div>
</div>
<% if logged_in? %>
  <%= link_to "Memories...", memories_path, class: "profile-saudade josefin demo" %>
<% else %>
  <%= link_to "Create your own!", signup_path, class: "profile-saudade josefin demo" %>
<% end %>
