<%= link_to "Login", login_path, class: "move-left user-login josefin demo" if !user_signed_in? %>

<div class="container">
  <div class="header user-header">
    <span class="title"><%= @memory.name %></span>
  </div>

  <div class="viewer">
    <%= render "shared/memory_application", hideNavBar: true, style: "width: 100%; height: 600px;" %>
  </div>

  <div class="josefin description show-description">
    <%= @memory.description %>
  </div>
</div>

<% if user_signed_in? %>
  <%= link_to "Back to memories...", memories_path, class: "move-left memories-link josefin" %>
<% else %>
  <%= link_to "Create your own!", signup_path, class: "move-left memories-link josefin" %>
<% end %>
