<!DOCTYPE html>
<html>
  <head>
    <% if @page_title %>
      <title><%= @page_title %> | Social Microloan</title>
    <% else %>
      <title>Social Microloan</title>
    <% end %>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
  <%= render 'layouts/header' %>
    <div class="container">
      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
