<!DOCTYPE html>
<html>
  <head>
    <title>Spherelink</title>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/view_port' %>
    <%= favicon_link_tag 'pin2.png' %>
  </head>

  <body>
    <% flash.each do |message_type, message| %>
      <% next if message_type == "timedout" %>
      <div class="alert alert-<%= message_type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
