<!DOCTYPE html>
<html>
  <head>
    <% if true #@page_title %>
      <title>Saudade</title>
    <% else %>
      <title>Social Microloan</title>
    <% end %>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>

  <body <%= "class=#{ @body_class }" if @body_class %>>
  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>
  <%= yield %>
  </body>
</html>
