<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/prefetch' %>
    <%= render 'layouts/stylesheets' %>
    <%= render 'layouts/shim' %>

    <%= favicon_link_tag 'pin2.png' %>
    <%= csrf_meta_tags %>

    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/view_port' %>
    <%= render 'layouts/SEO' %>

    <title>Spherelink</title>
  </head>
  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

  <%= javascript_include_tag 'application' %>
</html>
