<!DOCTYPE html>
<html>
  <head>
    <title>Spherelink</title>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/google_analytics' %>
    <%= render 'layouts/view_port' %>
    <%= favicon_link_tag 'pin2.png' %>
  </head>

  <body>
    <%= render 'layouts/flash' %>
    <%= render 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
