<!DOCTYPE html>
<html>
  <head>
    <title>Saudade</title>

    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/view_port' %>

  </head>

  <body <%= "class=#{ @body_class }" if @body_class %>>
    <% unless @hideFlash %>
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
